.footer-container {
  height: 182px;
  background-color: #960000;
  padding: 1em 2em;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
}

.footer-content-wrapper {
  height: 90%;
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: space-between;
}

.footer-logo {
  height: 95px;
  width: 182px;
}