.hero-container {
  height: 100vh;
  width: 100%;
  background: #000;
  background-size: cover;
  margin-top: -50px;
  padding-top: 50px
}

.hero-shadow-wrapper {
  height: calc(100vh - 50px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 4em;
  display: flex;
  align-items: center;
}

.header-wrapper {
  width: 40%;
}

.hero-header {
  color: #fff;
  font-size: 64px;;
}