* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5em;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #e0e3dc; */
  font-family: Roboto;
}

main {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}

.container:first-child {
  margin-top: 4em;
}

.hover-button {
  color: #960000;
  margin-top: 1em;
  background: #fff;
  padding: 0.5em;
  border: 1px solid #d9d9d9;
  height: 62px;
  width: 178px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.hover-button:hover {
  background: #960000;
  color: #fff;
  border: 1px solid #960000;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2em;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.nav-item:after {
  content: '';
  display: block;
  border-bottom: 3px solid #fff;
  margin-top: 5px;
  width: 0;
  right: left;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.nav-item:hover:after {
  width: 50%;
}

.modal-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-data {
  width: 25%;
}

.photo-grid {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto 1fr;
  gap: 2em;
  justify-items: center;
  align-items: center;
}

.project-title {
  color: #960000;
}

.photo-grid img {
  width: 275px;
  height: 206px;
}

.close-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #960000;
  position: absolute;
  top: 1em;
  right: 1em;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 90%;
  }

  .project-cards-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .modal-content-wrapper {
    overflow: scroll;
  }

  .photo-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 900px) { 
  .project-cards-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .modal-content-wrapper {
    flex-direction: column;
  }

  .project-data {
    width: 100%;
  }

  .photo-grid {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
