* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5em;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #e0e3dc; */
  font-family: Roboto;
}

main {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}


@media screen and (max-width: 1500px) {
  .container {
    width: 90%;
  }
}