.nav-container {
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  height: 100%;
  align-items: center;
  position: absolute;
  right: 8px;
}