.projects-header-container {
  flex-direction: column;
  align-items: center;
}
.projects-header {
  color: #960000;
  font-weight: bold;
}

.projects-subheader {
  font-weight: bold;
  margin: 1em 0;
}
