.bios-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10em;
  position: relative;
  justify-items: center;
}

img {
  height: 100%;
  width: 100%;
}

.team-intro {
  width: 50%;
  text-align: center;;
  margin: 2em;
}


@media screen and (max-width: 1000px) {
  .bios-container {
    flex-direction: column;
    align-items: center;
  justify-content: space-between;
  }
}
